body { 
    background: url(https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    font: normal 15pt Arial;

}
header {
color: white;
text-align: center;
}
section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.427);

}
footer {
color: white;
text-align: center;
font-style: italic;
}
img {
    width: 50%;
    height: 55%;
}

